button
{
    border-radius: 12px 0 12px 0;
    color: white;
    border: none;
    border-bottom: solid;
    margin: 0.1rem;
    box-shadow:2px 2px 8px #aaa;
}
 #btn__cv
{   
    border-color: rgb(163, 127, 61);
    background-color: rgb(228, 173, 70);
    position: relative;
    top: 1.5em;
    z-index: 2;
    height: 3em;
}
@media(min-width: 1000px)
{
    button
{
    width: 20em;
} 
} 