header
{
    background-image: url(../img/blacksand.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.img__presentation
{
    border-radius: 50%;
    width:  15vw;
    height: auto;
    margin: 12vh auto;
}
.header__presentation
{
    /* background-color: white; */
    //text-align: center;
    /* width: 30vw;
    height: 40vh;
    padding-top: 5em; */
    color: white;
}
h1
{
    margin-top: 10vh;
    font-size: 4.5em;
}