.article__project-img
{
    width: 60vw;
    margin-bottom: 2em;
    border: 2px solid black;
}
.article__icone
{
    width: 4em;
    margin: auto;
}
.article__icone-contact
{
    width: 3em;
}
@media (min-width: 620px)
{
    .article__project-img
    {
        width: 30vw;
    }
    .article__icone
    {
        width: 8em;
        margin: auto;
    }
    .article__icone-contact
    {
        width: 7em;
    }
}