.article__project-img
{
    width: 60vw;
    margin-bottom: 2em;
    border: 2px solid black;
}
.article__icone
{
  width: 4em;
  margin: auto;
}
.article__passion-img
{
    margin-bottom: .7em;
}
@media (min-width: 620px)
{
    .article__icone
    {
        width: 6em;
        margin: auto;
    }
    .article__icone-contact
    {
        width: 6em;
    }
}
@media (min-width: 1020px)
{
    .article__project-img
    {
        width: 40vw;
    }
}