@import 'vars';
.nav__list
{
    list-style-type: none;
    padding-top: 0.2em; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $backco;
    position: fixed;
    width: 100%;
}
nav a
{
    color: lightgrey;
}
nav a:hover
{
    text-decoration: none;
    color: white;
}
@media (min-width: 620px)
{
.nav__list
{
   
    font-size: 1.3em;
    position: fixed;
}

nav
{
    height: 5vh;
} 
}