.parallax 
{
    /* The image used */
    background-image: url("../img/black.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article__about
{
  width: 65vw;
  margin: auto;
}
.article__about--fst
{
  text-align: left;
}
.passion__projects
{
  margin: 0 auto;
  width: 75vw;
  /* text-align: center; */
}
.article__experiences, .article__formations
{
  margin: auto;
  text-align: left;
}
h3
{
  margin-top: 1.2em;
}
.article__competences
{
  margin: auto;
}

.article__passion-img
{
  height: auto;
  width: 60vw;
}
.article__passion-list
{
  list-style-type: none;
}
.infobulle
{
  cursor: help;
}
a span
{
  opacity:0;
  top: -5em;
  left: -3em;
  color: white;
  background: red;
}
a:focus span, a:hover span
{
  opacity:1;
  /* display: flex;
  flex-direction: column; */
}
hr
{
  position: relative;
}
td a, button a
{
  color: white;
  text-decoration: none;
}
td a:hover
{
  color: white;
}
.article__contact
{
  text-align: right;
  margin-right: 2em;
}

@media (min-width: 620px)
{
  .article__about
  {
  display: flex;
  justify-content: space-around;
  }
  .article__about--fst
  {
    width: 30vw;
  }
  .article__experiences, .article__formations
  {
    width: 50vw;
  }
  .article__passion-list
  {
    display: flex;
    justify-content: space-around;
  }
  .article__passion-img
  {
    height: 25vh;
    width: 20vw;
    margin: 2em;
  }
  .passion__projects
  {
    width: 65vw;
  }
}